@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.header{
    background-color:white;
    display:flex;
    
    align-items: center;
}

.logo{
    display: flex;
        align-items:center;
        font-size: 1.5rem;
        font-weight: bold;
        color:black;
        text-decoration: none;
        gap:0.625rem;
}

.logo-icon{
    width:3rem;
    height:3rem;
}

.content{
   
    border-radius: 0.5rem;
    padding:1rem;
    background-color:white;

}

.main-section{
    max-width: 1280px;
    display:flex;
    flex-direction:row;
    gap:2rem;
    padding:0.6rem;
    justify-content: center;
   
    margin:0 auto;
}
.content-left{
    
    display:flex;
    align-items:center;
    justify-content:center;
    animation: slidefromleft 2s ease forwards;

}
@keyframes slidefromleft{
    0%{
        opacity: 0;
        transform:translateX(-100%);
    }
    100%{
        opacity:1;
        transform: translateX(0%);
    }

}

.image-container{
    max-width: 400px;
    border-radius: 1.2rem;
    overflow:hidden;
    box-shadow:0px 4px 8px rgba(28, 18, 18, 0.1);
    height:54vh;
}

.section-image{
    height: 100%;
    width: 100%;
}

.content-right{
    
    max-height:400px;
    max-width:400px;
    text-align: center;
    background-color: white;
    padding:0 1rem;
    animation:slidefromtop 2s ease forwards;
}
@keyframes slidefromtop{
    0%{
        opacity:0;
        transform:translateY(-100%);
    }
    100%{
        opacity:1;
        transform:translateY(0%);
    }

}
.title{
    font-size: 3rem;
    

}
.description{
    font-size: 1.2rem;
    text-align: left;
    color:gray;
    font-weight: 300;
}